$primary-color: #ffffff;
$secondary-color: #e2003f; 

$box-shadow-left: -10px 10px 20px 0px rgba(0, 0, 0, 0.10);
$box-shadow-right: 10px 10px 20px 0px rgba(0, 0, 0, 0.10);
$box-shadow-bottom: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);

$gap-4: 4rem;

$radius-12: 12px;
$radius-24: 24px;
